.title{
    color: #000000;
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}

.container{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color:144, 238, 144;
    border: black;
    
}

.landmarks-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-color:black;
    background-color:144, 238, 144;
    grid-column-start: 1;
    grid-column-end: 3;
    
}

.landmarks-table th,
.landmarks-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    font-color:black;
    grid-column-start:3;
    grid-column-end:4;
}

.statistics-list{
    text-align: left;
    margin-top: 20px;
    padding: 10px;
    font-color:black;
    background-color:144, 238, 144;
    grid-column-start:1;
    grid-column-end:3;
    background-color: green;
    border: 1px solid darkgreen;

}

.h1{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    font-color: black;
    background-color:red;
    font-size: 75px;
    border: 1px solid darkred;
    
}

.h2{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    font-color:black;
    border: 1px solid darkgreen;
    backgournd-color:green;
}

.nav-list{
    padding: 5px;
    margin-top: 20px;
    text-align: left;
    font-color:black;
    border: 1px solid darkgreen;
}

.p{
    border: 1px solid 
    font-color:black;
    text-align:center;
    font-color:black;
    background-color: red;
    border: 1px solid darkred;

}
