.title{
    color: #000000;
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}

.container{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    color:black;
}

.landmarks-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color:black;
}

.landmarks-table th,
.landmarks-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.statistics-list{
    text-align: left;
    margin-top: 20px;
    padding: 10px;
    color:green;
}

.h1{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    color: red;
    font-size: 75px
}

.h2{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    color:green;
}

.nav-list{
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
    color:darkgreen;
}
