.title{
    color: #000000;
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}

.container{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    color:black;
    border: green;
    
}

.landmarks-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-color:black;
    background-color:144, 238, 144
    grid-column-start: 1;
    grid-column-end: 3;
    
}

.landmarks-table th,
.landmarks-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    font-color:black;
    grid-column-start:3;
    grid-column-end:4;
}

.statistics-list{
    text-align: left;
    margin-top: 20px;
    padding: 10px;
    color:green;
    background-color:144, 238, 144;
    grid-column-start:2;
    grid-column-end:3;
}

.h1{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    color: red;
    font-size: 75px;
    border:red;
    
}

.h2{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    color:green;
    border:green;
}

.nav-list{
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
    color:darkgreen;
    border:darkgreen;
}
